__pycache__/
*.pyc
*.egg-info/
.coverage
coverage.xml
htmlcov/
.tox/
.pytest_cache/
**/node_modules
dist/
build/
.state
.venv/
target/
lunr_stemmer.so

.vscode/
*.code-workspace
.python-version
.DS_Store
.benchmarks/
*TODO.md
tests/profiles/
.mypy_cache/
dev/
