__pycache__/
*.pyc
*.egg-info/
.eggs/
.coverage
coverage.xml
htmlcov/
.tox/
.pytest_cache/
**/node_modules
dist/
build/
.state
.venv/
target/
site/
docs/_build

.vscode/
*.code-workspace
.python-version
.DS_Store
.benchmarks/
*TODO.md
tests/profiles/
.mypy_cache/
.dev/
.direnv/
.envrc
.tool-versions
