sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - nvm install 8.9
  - nvm use 8.9

install:
  - pip install tox-travis
  - pip install codecov
  - cd tests/acceptance_tests/ && npm install

script: tox

matrix:
  include:
  - python: "3.6"
    env: TOXENV="flake8"

after_success: codecov
